{{define "pages/dashboard"}}
  {{template "layouts/base" .}}
{{end}}

{{define "title"}}Composer Workflow Dashboard{{end}}

{{define "content"}}
  <h1>Workflow Dashboard</h1>
  <div class="columns">
    {{template "components/workflow/column" .WorkflowColumn}}
    {{template "components/run/column" .Runs}}
  </div>
  {{template "components/run/modal" .}}
  {{template "components/workflow/modal" .WorkflowModal}}
{{end}}

{{define "scripts"}}
  <script src="/static/dashboard.js" defer></script>
{{end}}
