{{define "components/navigation/sidebar"}}
  <div class="sidebar">
    {{with .Title}}
      <div class="sidebar__brand">{{.}}</div>
    {{end}}
    <nav class="sidebar__nav">
      <ul class="sidebar__list">
        {{range .Links}}
          <li>
            <a
              class="sidebar__link{{if .Active}} sidebar__link--active{{end}}"
              href="{{.Href}}"
            >{{.Label}}</a>
          </li>
        {{end}}
      </ul>
    </nav>
  </div>
{{end}}
