{{if .HasItems}}
  <ul class="panel__list{{if .ListClass}} {{.ListClass}}{{end}}">
    {{range .Items}}
      {{if .ShouldWrap}}
        <li{{if .Class}} class="{{.Class}}"{{end}}>
          {{.RenderContent}}
        </li>
      {{else}}
        {{.RenderContent}}
      {{end}}
    {{end}}
  </ul>
{{else if .HasEmptyMessage}}
  <p>{{.EmptyMessage}}</p>
{{else}}
  <p>No items.</p>
{{end}}
