{{define "components/waiting/column"}}
<section class="column waiting-column">
  {{template "components/ui/column_header" .Header}}
  {{if .Groups}}
    <ul class="item-list waiting-list">
      {{range .Groups}}
        <li class="waiting-run-header">
          <span class="waiting-run-title">{{.RunDisplayName}}</span>
          <span class="waiting-run-divider" aria-hidden="true"></span>
        </li>
        {{range .Tasks}}
          <li class="waiting-task">
            <div class="waiting-task-name">{{.Name}}</div>
            {{if .Description}}
              <div class="waiting-task-description">{{.Description}}</div>
            {{end}}
          </li>
        {{end}}
      {{end}}
    </ul>
  {{else}}
    <p>No waiting tasks.</p>
  {{end}}
</section>
{{end}}
