{{define "components/ui/column_header"}}
  <header class="panel__header">
    <h2 class="panel__title">{{.Title}}</h2>
    <div class="panel__actions">
      {{range .Actions}}
        {{template "components/ui/add_button" .}}
      {{end}}
    </div>
  </header>
{{end}}
